<!-- HEADER -->
{% include 'includes/header.html' %}

<!-- CONTENIDO -->
{% block content %}
<div class="main-content">
    <div class="page-content">
        <div class="page-title-box">
            <div class="container-fluid">
                <div class="row align-items-center">
                    <div class="col-sm-6">
                        <div class="page-title">
                            <h4><a href="/" style="color:white;">Tandem Stock</a></h4>
                            <ol class="breadcrumb m-0">
                                <li class="breadcrumb-item active">{{material.nombre}}</li>
                            </ol>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="float-start d-none d-sm-block">
                            <a href="" class="btn btn-success">Guardar</a>
                        </div>
                     </div>
                </div>
            </div>
        </div>
        <div class="container-fluid">
            <div class="page-content-wrapper">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="card">
                            <div class="card-body">
                                <div class="p-4">
                                    <h2>Detalle {{material.nombre}}</h2>
                                    <p>Nombre: {{ material.nombre }}</p>
                                    <p>Referencia: {{ material.referencia }}</p>
                                    <!-- Agrega más propiedades del material según tus necesidades -->

                                    <a href="{% url 'extraer_material' material_id=material.id %}">Extraer Material</a>
                                    <a href="{% url 'log_material' material_id=material.id %}">Ver Log de Acciones</a>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div> <!-- container-fluid -->
    </div>
    <!-- End Page-content -->
</div>
<!-- end main content-->
{% endblock %}

<!-- FOOTER -->
{% include 'includes/footer.html' %}