<!-- HEADER -->
{% include 'includes/header.html' %}

<!-- CONTENIDO -->
{% block content %}
<div class="main-content">
    <div class="page-content">
        <div class="page-title-box">
            <div class="container-fluid">
                <div class="row align-items-center">
                    <div class="col-sm-6">
                        <div class="page-title">
                            <h4><a href="/" style="color:white;">Tandem Stock</a></h4>
                            <ol class="breadcrumb m-0">
                                <li class="breadcrumb-item active">Perfil</li>
                            </ol>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="float-start d-none d-sm-block">
                            <a href="" class="btn btn-success">Guardar</a>
                        </div>
                     </div>
                </div>
            </div>
        </div>
        <div class="container-fluid">
            <div class="page-content-wrapper">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="card">
                            <div class="card-body">
                                <div class="p-4">
                                    <h2>Extraer Material</h2>
                                    <form method="post">
                                        {% csrf_token %}
                                        {{ form.as_p }}
                                        <button class="btn btn-success" type="submit">Extraer material</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div> <!-- container-fluid -->
    </div>
    <!-- End Page-content -->
</div>
<!-- end main content-->
{% endblock %}

<!-- FOOTER -->
{% include 'includes/footer.html' %}

<style>
    input{
        display: block;
        width: 100%;
        padding: 0.47rem 0.75rem;
        font-size: 0.875rem;
        font-weight: 400;
        line-height: 1.5;
        color: #495057;
        background-color: #fff;
        background-clip: padding-box;
        border: 1px solid #ced4da;
        appearance: none;
        border-radius: 0.25rem;
    }
    body.authentication-bg.bg-primary {
        background-color: #00abaa !important;
    }
</style>