{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    {% load sass_tags %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tandem Stock - Página no encontrada</title>
    <!-- Agrega aquí tus enlaces a hojas de estilo CSS si es necesario -->
    <link rel="stylesheet" type="text/css" href="{% static 'css/app.css' %}">
    <!-- <link rel="stylesheet" type="text/css" href="{% static 'css/app-dark.css' %}">-->
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/icons.css' %}">

</head>
<body class="authentication-bg bg-primary">
    <div class="home-center">
        <div class="home-desc-center">

            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-md-8 col-lg-6 col-xl-5">
                        <div class="card">
                            <div class="card-body">
                                <div class="px-2 py-3">
                                    <div class="text-center">
                                        <a href="/">
                                            <img src="../../static/images/TandemHoritz_Negre.png" height="82" alt="logo">
                                        </a>

                                    </div>

                                    <div class="text-center p-3">

                                        <h1 class="error-page mt-5"><span>404!</span></h1>
                                        <h4 class="mb-4 mt-5">Sorry, page not found</h4>
                                        <p class="mb-4 mx-auto">It will be as simple as Occidental in fact, it will
                                            Occidental to an English person</p>
                                        <a class="btn btn-primary waves-effect waves-light" href="index.html"><i
                                                class="mdi mdi-home"></i> Back to Dashboard</a>
                                    </div>

                                </div>
                            </div>
                        </div>

                        <div class="mt-5 text-center text-white">
                            <p>©
                                <script>document.write(new Date().getFullYear())</script> Morvin. Crafted with <i
                                    class="mdi mdi-heart text-danger"></i> by Themesdesign
                            </p>
                        </div>
                    </div>
                </div>

            </div>


        </div>
        <!-- End Log In page -->
    </div>

</body>

</html>