<footer class="footer">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-6">
                <script>document.write(new Date().getFullYear())</script>© Tandem Projects.
            </div>
            <div class="col-sm-6">
                <div class="text-sm-end d-none d-sm-block">
                    Fet amb <i class="mdi mdi-heart text-danger"></i> per Tandem Projects
                </div>
            </div>
        </div>
    </div>
    <script src="../../static/js/waves.min.js"></script>   

    <!-- Required datatable js -->
    <script src="../../static/js/jquery.dataTables.js"> </script>
    <script src="../../static/js/dataTables.bootstrap4.js"> </script>

    <!-- Buttons -->
    <script src="../../static/js/dataTables.buttons.js"> </script>
    <script src="../../static/js/buttons.bootstrap4.js"> </script>
    <script src="../../static/js/jszip.js"> </script>
    <script src="../../static/js/pdfmake.js"> </script>
    <script src="../../static/js/vfs_fonts.js"> </script>
    <script src="../../static/js/buttons.html5.js"> </script>
    <script src="../../static/js/buttons.print.js"> </script>
    <script src="../../static/js/buttons.colVis.js"> </script>

    <!-- Datatable responsive -->
    <script src="../../static/js/dataTables.responsive.js"> </script>
    <script src="../../static/js/responsive.bootstrap4.js"> </script>


    <!-- Modal -->
    <script src="../../static/js/modal.js"> </script>
    <script src="../../static/js/simplebar.js"> </script>
    <script src="../../static/js/bootstrap.bundle.min.js"> </script>

    <!-- Calendar -->
    <script src="../../static/js/calendar/core/main.js"> </script>
    <script src="../../static/js/calendar/bootstrap/main.js"> </script>
    <script src="../../static/js/calendar/daygrid/main.js"> </script>
    <script src="../../static/js/calendar/timegrid/main.js"> </script>
    <script src="../../static/js/calendar/interaction/main.js"> </script>

    <script src="../../static/js/calendar/calendar.init.js"> </script>



    <!-- Datatable init js -->
    <script src="../../static/js/datables.init.js"> </script>
    
</footer>